---
import { CardGrid } from '@astrojs/starlight/components'
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro'

import { exampleSidebar, stories } from '../../example-data'
import LinkCardWrapper from '@/components/ui/link-card-wrapper.astro'
import { frameworkIcons } from '@/components/ui/framework-icons'
---

<StarlightPage frontmatter={{ title: 'Examples', tableOfContents: false, pagefind: false }} sidebar={exampleSidebar}>
  <CardGrid>
    {stories.map((item) => (
      <LinkCardWrapper href={item.link}>
        <Fragment slot="title">
          {item.name}
        </Fragment>
        <Fragment slot="description">
          <span class="text-sm text-gray-500 mb-8 inline-flex">{item.description}</span>
          <span class="inline-flex flex-row right-5 bottom-3 absolute cursor-pointer group/framework-icons">
            {item.frameworks.map((framework) => (
              <a
                class:list={[
                  'size-6 p-1 transition-all inline-flex items-center justify-center',
                  'saturate-100 group-hover/framework-icons:saturate-0 hover:saturate-100',
                  'scale-100 hover:scale-150',
                  'opacity-100 group-hover/framework-icons:opacity-70 hover:opacity-100',
                ]}
                href={item.link + '?framework=' + framework}
              >
                <span class:list={['w-full h-full inline-block', frameworkIcons[framework]]}></span>
                <span class="sr-only">{framework}</span>
              </a>
            ))}
          </span>
        </Fragment>
      </LinkCardWrapper>
    ))}
  </CardGrid>
</StarlightPage>
