---
import { CardGrid } from '@astrojs/starlight/components'
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro'

import {
  exampleSidebar,
  stories,
} from '../../example-data'
import LinkCardWrapper from '@/components/ui/link-card-wrapper.astro'
import { frameworkIcons } from '@/components/ui/framework-icons'
---

<StarlightPage frontmatter={{ title: 'Examples', tableOfContents: false, pagefind: false }} sidebar={exampleSidebar}>
  <CardGrid  >
    {stories.map((item) => (
      <LinkCardWrapper href={item.link}>
        <Fragment slot="title">
          {item.name}
        </Fragment>
        <Fragment slot="description">
          <span class="text-sm text-gray-500 mb-8 inline-flex">{item.description}</span>
          <span class="inline-flex flex-row gap-2 right-6 bottom-4 absolute cursor-pointer">
            {item.frameworks.map((framework) => (
              <span
                class:list={['size-4', frameworkIcons[framework]]}
                data-framework-icon={framework}
              ></span>
            ))}
          </span>
        </Fragment>
      </LinkCardWrapper>
    ))}
  </CardGrid>
</StarlightPage>

<style>
  [data-framework-icon] {
   transition: filter 150ms ease, opacity 150ms ease, transform 150ms ease;
  }

  :root:has([data-framework-icon]:hover) {
    & [data-framework-icon] {
      filter: saturate(0%);
      opacity: 0.5;
    }
  }

  :root:has([data-framework-icon="react"]:hover) [data-framework-icon="react"] {
    filter: saturate(100%);
    opacity: 1;
    transform: scale(1.6);
  }
  :root:has([data-framework-icon="vue"]:hover) [data-framework-icon="vue"] {
    filter: saturate(100%);
    opacity: 1;
    transform: scale(1.6);
  }
  :root:has([data-framework-icon="preact"]:hover) [data-framework-icon="preact"] {
    filter: saturate(100%);
    opacity: 1;
    transform: scale(1.6);
  }
  :root:has([data-framework-icon="svelte"]:hover) [data-framework-icon="svelte"] {
    filter: saturate(100%);
    opacity: 1;
    transform: scale(1.6);
  }
  :root:has([data-framework-icon="solid"]:hover) [data-framework-icon="solid"] {
    filter: saturate(100%);
    opacity: 1;
    transform: scale(1.6);
  }
  :root:has([data-framework-icon="lit"]:hover) [data-framework-icon="lit"] {
    filter: saturate(100%);
    opacity: 1;
    transform: scale(1.6);
  }
  :root:has([data-framework-icon="vanilla"]:hover) [data-framework-icon="vanilla"] {
    filter: saturate(100%);
    opacity: 1;
    transform: scale(1.6);
  }
