---
import registry from 'prosekit-registry/registry.gen.json'
import { FrameworkContent } from './framework-content.tsx'
import Code from 'starlight-theme-nova/components/Code.astro'

interface Props {
  story: string
}

const { story }: Props = Astro.props

const examples = registry.items.filter((example) => example.meta.story === story)

if (examples.length === 0) {
  throw new Error(`Unable to find examples for story ${story}`)
}

const frameworks = examples.map((example) => example.meta.framework)
---

<div class="mb-6 flex flex-col">
  <div class="flex items-center justify-between gap-2 mb-2">
    <span>
      Install this example with
      <a href="https://ui.shadcn.com/docs/cli" target="_blank"><code>shadcn</code></a>:
    </span>
  </div>

  <FrameworkContent frameworks={frameworks} className="overflow-y-hidden not-content" client:load>
    {frameworks.includes('lit') && <Fragment slot="litContent"><Code lang="bash" code={`npx shadcn@latest add @prosekit/lit-example-${story}`} /></Fragment>}
    {frameworks.includes('preact') && <Fragment slot="preactContent"><Code lang="bash" code={`npx shadcn@latest add @prosekit/preact-example-${story}`} /></Fragment>}
    {frameworks.includes('react') && <Fragment slot="reactContent"><Code lang="bash" code={`npx shadcn@latest add @prosekit/react-example-${story}`} /></Fragment>}
    {frameworks.includes('solid') && <Fragment slot="solidContent"><Code lang="bash" code={`npx shadcn@latest add @prosekit/solid-example-${story}`} /></Fragment>}
    {frameworks.includes('svelte') && <Fragment slot="svelteContent"><Code lang="bash" code={`npx shadcn@latest add @prosekit/svelte-example-${story}`} /></Fragment>}
    {frameworks.includes('vanilla') && <Fragment slot="vanillaContent"><Code lang="bash" code={`npx shadcn@latest add @prosekit/vanilla-example-${story}`} /></Fragment>}
    {frameworks.includes('vue') && <Fragment slot="vueContent"><Code lang="bash" code={`npx shadcn@latest add @prosekit/vue-example-${story}`} /></Fragment>}
  </FrameworkContent>
</div>
