---
import registry from 'prosekit-registry/registry.gen.json'
import { CurrentFrameworkContent } from './current-framework-content.tsx'
import Code from 'starlight-theme-nova/components/Code.astro'

interface Props {
  story: string
}

const { story }: Props = Astro.props

const examples = registry.items.filter((example) => example.meta.story === story)

if (examples.length === 0) {
  throw new Error(`Unable to find examples for story ${story}`)
}

const frameworks = examples.map((example) => example.meta.framework)
---

<div class="mb-6 flex flex-col">
  <div class="flex items-center justify-between gap-2 mb-2">
    <span>
      Install this example with
      <a href="https://ui.shadcn.com/docs/cli" target="_blank"><code>shadcn</code></a>:
    </span>
  </div>

  <CurrentFrameworkContent frameworks={frameworks} className="overflow-y-hidden not-content" client:idle>
    <Fragment slot="lit">{frameworks.includes('lit') ? <Code lang="bash" code={`npx shadcn@latest add @prosekit/lit-example-${story}`} /> : null}</Fragment>
    <Fragment slot="preact">{frameworks.includes('preact') ? <Code lang="bash" code={`npx shadcn@latest add @prosekit/preact-example-${story}`} /> : null}</Fragment>
    <Fragment slot="react">{frameworks.includes('react') ? <Code lang="bash" code={`npx shadcn@latest add @prosekit/react-example-${story}`} /> : null}</Fragment>
    <Fragment slot="solid">{frameworks.includes('solid') ? <Code lang="bash" code={`npx shadcn@latest add @prosekit/solid-example-${story}`} /> : null}</Fragment>
    <Fragment slot="svelte">{frameworks.includes('svelte') ? <Code lang="bash" code={`npx shadcn@latest add @prosekit/svelte-example-${story}`} /> : null}</Fragment>
    <Fragment slot="vanilla">{frameworks.includes('vanilla') ? <Code lang="bash" code={`npx shadcn@latest add @prosekit/vanilla-example-${story}`} /> : null}</Fragment>
    <Fragment slot="vue">{frameworks.includes('vue') ? <Code lang="bash" code={`npx shadcn@latest add @prosekit/vue-example-${story}`} /> : null}</Fragment>
  </CurrentFrameworkContent>
</div>
